@model Web.Models.UnitDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UnitDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Furnishing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Furnishing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitType.UnitType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitType.UnitType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
