@model IEnumerable<Web.Models.UnitDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Furnishing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bedroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Net_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitType.UnitType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Furnishing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bedroom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Net_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitType.UnitType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
